.bunner {
  padding: 50px 0;

  &__inner {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);
    max-height: 347px;

    @include tablet {
      padding: 50px;
      justify-content: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    align-items: flex-start;
    @include tablet {
      align-items: center;
    }
  }

  &__description {
    max-width: 500px;
  }

  &__image {
    @include tablet {
      @include visually-hiden;
    }
  }
}
